.all-box-B {
    font-family: Tahoma;
    font-size: 40px;
  }
  .fine-box-B {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 0%;
  }
  .box-A,
  .box-F {
    display: flex;
    flex-direction: row;
    background-color: #eeeff2;
    width: 100px;
    height: 150px;
    cursor: pointer;
  }
  .box-A {
    margin-right: 10px;
  }
  .box-F {
    margin-left: 100%;
    margin-top: 100%;
  }
  .A-box-B {
    margin-left: 10%;
  }

  .dashed-line {
    height: 10px;
    width: 10px;
    background-color: #d0d0ff;
    margin-bottom: 10px;
  }

  .box-A:hover,
  .box-F:hover {
    transition: 0.75;
    background-color: yellow;
    color: goldenrod;
  }